################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
/GPM_View/obj
/GPM_View/bin/Debug
/.vs
